* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    width: 960px;
    margin: auto;
}



section img {
    float: left;
   
}

#icon{
    padding-left: 730px;
   padding-top: 40px;
}



h1 {
    font-size: 30px;
    margin: 0px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    right: 20px;
}

h4 {
    color: rgb(113, 150, 146);
}

h2 {
    font-family: Impact, fantasy;
    font-size: 40px;
}

#print {
    float: right;
    padding-bottom: 30px;
}

#print1 {
   float: right;
    color:rgb(113, 150, 146);
    
    margin-top: 0%;
}


  article P {
    font-size: 25PX;
    color: rgb(113, 150, 146);
}



.list {
    font-family: Comic Sans MS ;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 500px;
  margin-right: 100px;
padding-bottom: 360px;
  width: 1000px;
  font-size: 20px
}

#left{
    float: left;
  }
  #right{
    margin-left: 500px;
  }


ul, li {
    list-style-type: none;
}




footer p {
    text-align: center;
    color: gray;
}

#img5 {
    float: left;
}

#btn {
    float: right;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  
    
}

#h5{
    font-size: 25px;
}

#p5{
font-size: 20px;
color:rgb(113, 150, 146) ;



}

